{
  "root": true,
  "extends": ["@vta/eslint-config-react/typescript"],
  "parserOptions": {
    "project": "__tests__/data/project/tsconfig.eslint.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "react/jsx-filename-extension": "off"
  }
}
